<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Setting log level - http://logback.qos.ch/manual/configuration.html -->
    <appender name="STDOUT-JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timeZone>UTC</timeZone>
            <fieldNames>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
    </appender>

    <appender name="STDOUT-ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT-JSON" />
    </appender>

    <root level="${ROOT_LOG_LEVEL:-INFO}">
        <appender-ref ref="STDOUT-ASYNC" />
    </root>
</configuration>